@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.pageAnimation {
  &Enter {
    opacity: 0;
    transform: scale(0.9);
  }

  &EnterActive {
    opacity: 1;
    transform: scale(1);
    transition: all 150ms;
  }

  &Exit {
    opacity: 1;
    transform: scale(1);
    animation-name: fadeOut;
  }

  &ExitActive {
    opacity: 0;
    transform: scale(0.9);
    transition: all 150ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
}
