@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
@import 'src/scss/variables';
@import 'src/scss/_mixins.scss';
@import 'src/scss/_utilities.scss';
@import 'src/scss/_typography.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-main-sans-serif);
  color: unquote('hsl(var(--color-primary-white))');
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  min-height: 100vh;
  background-color: unquote('hsl(var(--color-primary-dark))');
}
