@import 'src/scss/_mixins.scss';

.paragraph {
  font-size: 1.5rem;
  color: unquote('hsl(var(--color-primary-light))');
  line-height: 2;

  @include bp-tablet {
    font-size: 1.6rem;
  }

  @include bp-desktop {
    font-size: 1.8rem;
  }
}

.heading-1 {
  &--home {
    font-size: 1.6rem;
    letter-spacing: 2.7px;
    color: unquote('hsl(var(--color-primary-light))');
    text-transform: uppercase;

    @include bp-tablet {
      font-size: 2rem;
    }

    &--main {
      font-size: 8rem;
      font-family: var(--ff-main-serif);
      line-height: 1.1;

      @include bp-tablet {
        font-size: 15rem;
      }
    }
  }

  &--subpage {
    font-size: 1.6rem;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    line-height: 1.1;

    @include bp-tablet {
      font-size: 2rem;
    }

    @include bp-desktop {
      font-size: 2.8rem;
    }

    &--counter {
      font-weight: 700;
      color: unquote('hsl(var(--color-primary-white) / 0.25)');
    }
  }
}

.heading-2 {
  font-size: 5.6rem;
  font-family: var(--ff-main-serif);
  text-transform: uppercase;
  line-height: 1.1;

  @include bp-tablet {
    font-size: 8rem;
  }

  @include bp-desktop {
    font-size: 10rem;
  }

  &--crew {
    font-size: 1.6rem;
    font-family: var(--ff-main-serif);
    text-transform: uppercase;
    color: unquote('hsl(var(--color-primary-white) / 0.5)');
    line-height: 1.1;

    @include bp-tablet {
      font-size: 2.4rem;
    }

    @include bp-desktop {
      font-size: 3.2rem;
    }
  }

  &--technology {
    font-size: 1.4rem;
    letter-spacing: 2.36px;
    text-transform: uppercase;
    color: unquote('hsl(var(--color-primary-light))');
    line-height: 1.1;

    @include bp-tablet {
      font-size: 1.6rem;
    }
  }
}

.heading-3 {
  font-size: 1.4rem;
  color: unquote('hsl(var(--color-primary-light))');
  letter-spacing: 2.36px;
  text-transform: uppercase;

  &--crew {
    font-size: 2.4rem;
    font-family: var(--ff-main-serif);
    text-transform: uppercase;

    @include bp-tablet {
      font-size: 4rem;
    }

    @include bp-desktop {
      font-size: 5.6rem;
    }
  }

  &--technology {
    font-size: 2.4rem;
    font-family: var(--ff-main-serif);
    text-transform: uppercase;

    @include bp-tablet {
      font-size: 4rem;
    }

    @include bp-desktop {
      font-size: 5.6rem;
    }
  }
}

.destination--info-text {
  font-size: 2.8rem;
  font-family: var(--ff-main-serif);
  text-transform: uppercase;
}
