:root {
  --color-primary-dark: 230 35% 7%;
  --color-primary-light: 231 77% 90%;
  --color-primary-white: 0 0% 100%;

  --ff-main-sans-serif: 'Barlow Condensed', sans-serif;
  --ff-main-serif: 'Bellefair', serif;

  --text-gap: 2.5rem;
  --submenu-gap: 3rem;
}
